@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
    /* Colors */
    --color-primary-color: #7C3AED;
    --color-secondary-color: #6D28D9;
    --color-surface-dark: #2A3439;
    --color-surface-light-50: #F7F9FB;
    --color-surface-light-100: #F0F4F7;
    --color-surface-light-200: #F3E8FF;
    --color-surface-light-300: #717C82;
    --color-surface-light-400: #566166;
    --color-surface-light-500: #E1E9EE;
    --color-surface-light-600: #A9B4B9;
    --color-surface-light-700: #D9E4EA;
    --color-wine-red: #9E3F4E;
    --color-wine-red-light: #FF8B9A33;
    --color-white: #FFFFFF;

    /* Fonts */
    --font-manrope: "Manrope", sans-serif;
    --font-inter: "Inter", sans-serif;
}
